# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Django
db.sqlite3
staticfiles/

# Media uploads
media/

# IDE
.vscode/
.idea/

# Windows
Thumbs.db